<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <title>RailTracks</title>
  <meta name="application-name" content="RailTracks">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <%= stylesheet_link_tag 'style.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'portrait.css', :media => 'screen and (max-width: 320px), screen and (orientation: portrait)' %>
  <%= stylesheet_link_tag 'landscape.css', :media => 'screen and (min-width: 321px) and (max-width: 480px)' %>

  <%# <link rel="icon" href="/images/icon/RT16.png" sizes="16x16">
  <link rel="icon" href="/images/icon/RT32.png" sizes="32x32">
  <link rel="icon" href="/images/icon/RT48.png" sizes="48x48">
  <link rel="icon" href="/images/icon/RT64.png" sizes="64x64">
  <link rel="icon" href="/images/icon/RT128.png" sizes="128x128">
  <link rel="icon" href="/images/icon/RT256.png" sizes="256x256">
  <link rel="icon" href="/images/icon/RT512.png" sizes="512x512"> %>
  <link rel="icon" href="/images/icon/RT.svg" sizes="any">
  <link rel="apple-touch-icon" href="/images/icon/RT72.png" sizes="72x72">
  <link rel="apple-touch-icon" href="/images/icon/RT128.png" sizes="128x128">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='javascripts/jquery.min.js'>\x3C/script>")</script>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'rtPlayer' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if notice %><div id="notice"><%= notice %></div><% end %>
  <% if alert %><div id="alert"><%= alert %></div><% end %>

  <div id="layout">
    <nav>
      <%= render :partial => 'railtracks/sidebar' if user_signed_in? %>
    </nav>
    <section>
      <div id="player">
        <%= render :partial => 'railtracks/player' if user_signed_in? %>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </section>
  </div>

  <script>
    $(function(){
      $('a[data-pjax]').pjax();
      $('#main').bind('end.pjax',function(){
        if (player) { player.on_page_load(); }
        $('#main').scrollTop();
      });
    <% if notice %>
      $('#notice').bind('click', function() { $(this).fadeOut('slow'); });
    <% end %>
    });

    /* Canvas fallback for SVG icons */
    function hasSVG() { return !!document.createElementNS && !!document.createElementNS('http://www.w3.org/2000/svg', "svg").createSVGRect; }
    if (!hasSVG())
    {
      $.getScript('http://canvg.googlecode.com/svn/trunk/rgbcolor.js', function() {
        $.getScript('http://canvg.googlecode.com/svn/trunk/canvg.js', function() {
          canvg();
        });
      });
    }
  </script>
</body>
</html>
